* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 20%;
}

main {
    height: 100vh;
    background-color: #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    perspective: 1000px;
}

article {
    height: 20vh;
    width: 50vw;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    position: relative;
    transform: rotateX(20deg);
    transform: rotateY(-30deg);
    margin-top: -10px;
    transition: all 0.5s ease-in-out;
}

article:hover {
    transform: rotateX(-10deg);
    transform: rotateY(-20deg);
    z-index: 5;
}

div {
    width: 60%;
    padding: 10px;
}

div h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

div p {
    font-size: 20px;
}

.first {
    background-color: #BAE7F9;
    z-index: 3;
}

.second {
    background-color: #F5FDBE;
    z-index: 2;
}

.third {
    background-color: #EFDCFC;
    z-index: 1;
}