div {
    display: grid;
    grid-template: repeat(4,fr);
    gap: 0.5vw;
    color: white;
}

header {
    height: 10vh;
    grid-column: 1/5;
    background-color: blue;
}

aside {
    grid-column: 1/2;
    background-color: green;
}

main {
    height: 75vh;
    grid-column: 2/5;
    background-color: red;
}


footer {
    height: 10vh;
    background-color: purple;
    grid-column: 1/5;
}