@font-face {
    font-family: lato;
    src: url(../Lato-Black.ttf);
}

@font-face {
    font-family: cinzel;
    src: url(../Cinzel-VariableFont_wght.ttf);
}

@font-face {
    font-family: pacifico;
    src: url(../Pacifico-Regular.ttf);
}

@font-face {
    font-family: shadows;
    src: url(../ShadowsIntoLight-Regular.ttf);
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-family: cinzel;
}

h2 {
    background-color: lightgreen;
    word-spacing: 5px;
    font-family: lato;
}

strong {
    color: orange;
}

em {
    color: red;
}

h3 {
    word-spacing: 10px;
    font-size: 20px;
    font-family: pacifico;
}

ol {
    color: brown;
    line-height: 50px;
}

h4 {
    background-color: yellow;
    font-size: 40px;
    text-align: right;
    text-shadow: 5px 5px 10px;
    font-family: shadows;
}

h5 {
    font-size: 20px;
    text-transform: initial;
}

ul {
    background-color: grey;
    line-height: 40px;
}